@page
@model CW18.Pages.NewsWritersRegisterModel
@{
    ViewData["Title"] = "News Writers Register Page";
}

<form method="post">
    <div class="mb-3">
        <label asp-for="RegisteringNewsWriter.FirstName" class="form-label"></label>
        <input asp-for="RegisteringNewsWriter.FirstName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="RegisteringNewsWriter.LastName" class="form-label"></label>
        <input asp-for="RegisteringNewsWriter.LastName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="RegisteringNewsWriter.Email" class="form-label"></label>
        <input asp-for="RegisteringNewsWriter.Email" type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="RegisteringNewsWriter.Password" class="form-label"></label>
        <input asp-for="RegisteringNewsWriter.Password" type="password" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="RegisteringNewsWriter.ConfirmPassword" class="form-label"></label>
        <input asp-for="RegisteringNewsWriter.ConfirmPassword" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-success">ثبت نام</button>
</form>