@* 

<form method="post">
    <div class="mb-3">
        <label asp-for="LoginDto.Email" class="form-label">ایمیل</label>
        <input asp-for="LoginDto.Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="LoginDto.Password" class="form-label"></label>
        <input asp-for="LoginDto.Password" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">ورود</button>
</form>
 *@